<style>
    div.jsoneditor-tree { height: 300px;}
</style>
<div class="modal-header">
    <h4 class="modal-title">Редактор JSON</h4>
</div>
<div class="modal-body" style="padding: 0px;">
    <div ng-if="editorType === 'json'" class="editor-container" ng-class="{'dark-theme': monacoOptions.theme === 'vs-dark'}">
        <angular-jsoneditor ng-model="obj.data" options="obj.options" style="width: 100%; height: 100%;"></angular-jsoneditor>
    </div>
    <div ng-if="editorType === 'monaco'" class="editor-container">
        <monaco-editor ng-model="monacoData" language="json" theme="{{monacoOptions.theme}}" options="monacoOptions"></monaco-editor>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary pull-left" ng-click="switch()">
        <span ng-if="editorType === 'json'">Switch to Monaco</span>
        <span ng-if="editorType === 'monaco'">Switch to JSON Ediitor</span>
    </button>
    <button class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

