<form name="userForm" class="form-horizontal row-border">
    <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-show="data.id">
            <label class="col-sm-2 control-label">ID ключа</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" readonly="readonly" ng-model="data.id">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Имя</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" required=1 ng-model="data.name">
            </div>
        </div>
        <div class="form-group" ng-show="data.fingerprint">
            <label class="col-sm-2 control-label">Fingerprint</label>
            <div class="col-sm-9">
                <input type="text" ng-model="data.fingerprint" class="form-control" readonly="readonly">
            </div>
        </div>
        <div class="form-group" ng-show="!data.id">
            <label class="col-sm-2 control-label">Приватный ключ</label>
            <div class="col-sm-9">
                <textarea rows=6 class="form-control" ng-model="data.private_key"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Публичный ключ</label>
            <div class="col-sm-9">
                <textarea rows=6 class="form-control" ng-model="data.public_key"></textarea>
            </div>
        </div>
    </div> <!-- modal-body -->

    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="userForm.$invalid" ng-click="save()">Save</button>
        <button class="btn btn-info" ng-show="!data.id" ng-click="generate_key()">Generate</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        <button class="btn btn-danger pull-left" ng-show="data.id" ng-click="delete()">Delete</button>
    </div>
</form>
