    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Layout</li>
        <li class="active">Boxed Layout</li>
    </ol>

<div class="container-fluid" ng-controller="BoxedPageController">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-orange">
              <div class="panel-heading">
                    <h2>Backgrounds for Boxed Layout</h2>
              </div>
              <div class="panel-body">
                    <h3>Background Colors and Patterns</h3>
                    <div class="demo-blocks color-dark" data-background-switcher></div>
                    <div class="demo-blocks color-red" data-background-switcher></div>
                    <div class="demo-blocks color-green" data-background-switcher></div>
                    <div class="demo-blocks color-blue" data-background-switcher></div>
                    <div class="demo-blocks color-lavender" data-background-switcher></div>
                    <div class="demo-blocks pattern-brickwall" data-background-switcher></div>
                    <div class="demo-blocks pattern-dark-stripes" data-background-switcher></div>
                    <div class="demo-blocks pattern-rockywall" data-background-switcher></div>
                    <div class="demo-blocks pattern-subtle-carbon" data-background-switcher></div>
                    <div class="demo-blocks pattern-tweed" data-background-switcher></div>
                    <div class="demo-blocks pattern-vertical-cloth" data-background-switcher></div>
                    <div class="demo-blocks pattern-grey_wash_wall" data-background-switcher></div>
                    <div class="demo-blocks pattern-pw_maze_black" data-background-switcher></div>
                    <div class="demo-blocks pattern-wild_oliva" data-background-switcher></div>
                    <div class="demo-blocks pattern-stressed_linen" data-background-switcher></div>
                    <div class="demo-blocks pattern-sos" data-background-switcher></div>
              </div>
            </div>
        </div>
    </div>
</div> <!-- container-fluid -->
