	<ol class="breadcrumb">
		<li><a href="#/">Главная</a></li>
		<li>Настройки</li>
		<li class="active">Услуги</li>
	</ol>

<div class="container-fluid" ng-controller="ShmServicesController">
	<div class="row">
	  <div class="col-md-12">
			<div class="panel panel-transparent">
				<div class="panel-heading">
					<h2>Услуги</h2>
				</div>
				<div class="panel-body">
					<div class="panel">
						<div class="panel-body no-padding">
							<div shm-table-tree></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/ng-template" id="edit.tmpl">
		<div class="modal-header">
			<h4 class="modal-title">{{ title }}</h4>
		</div>
		<div class="modal-body">
			<form action="" class="form-horizontal row-border">
				<div class="form-group">
					<label class="col-sm-2 control-label">Номер услуги</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" readonly="readonly" value="{{ data.service_id }}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Название услуги</label>
					<div class="col-sm-8">
						<input type="text" value="{{ data.name }}" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Категория услуги</label>
					<div class="col-sm-8">
						<input type="text" value="{{ data.category }}" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Период услуги (мес.)</label>
					<div class="col-sm-8">
						<input type="text" value="{{ data.period_cost }}" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Цена за период</label>
					<div class="col-sm-8">
						<input type="text" value="{{ data.cost }}" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Следующая услуга</label>
					<div class="col-sm-8">
						<select class="form-control" ng-model="data.next">
                            <option value="">Не изменять</option>
                            <option ng-repeat="service in data.services" ng-value="service.service_id">
                                {{ service.name }}
                            </option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Дочерние услуги</label>
					<div class="col-sm-8">
						<select class="form-control" multiple>
                            <option ng-repeat="(key, value) in data.children track by $index" value="key">
                                {{ value.service_id}}# {{ value.name }}
                            </option>
						</select>
					</div>
					<div class="col-sm-2">
                        <a ng-click="editSubServices(data.service_id, data.children)" class="btn btn-default">
                            <i class="ti ti-settings"></i>
                        </a>
                    </div>
				</div>
				<div class="form-group">
                    <label class="col-sm-2 control-label">Биллинг</label>
                    <div class="col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" toggle-int toggle-model="data.pay_in_credit">Списывать всегда (даже в минус)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" toggle-int toggle-model="data.no_discount">Не применять скидки
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" toggle-int toggle-model="data.pay_always">Всегда платная услуга
                            </label>
                        </div>
                    </div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Settings</label>
					<div class="col-sm-8">
						<input type="text" value="{{ data.config }}" readonly="readonly" class="form-control">
					</div>
					<div class="col-sm-2">
                        <a ng-click="editJson(data.config)" class="btn btn-default"><i class="ti ti-settings"></i></a>
                    </div>
				</div>

		</div>
		<div class="modal-footer">
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		</div>
	</script>

</div> <!-- container-fluid -->
