	<ol class="breadcrumb">
		<li><a href="#/">Главная</a></li>
		<li>Настройки</li>
		<li class="active">Услуги</li>
	</ol>

<div class="container-fluid" ng-controller="ShmServicesController">
	<div class="row">
	  <div class="col-md-12">
			<div class="panel panel-transparent">
				<div class="panel-heading">
					<h2>Услуги</h2>
                    <div class="btn-group pull-right">
                        <button class="btn btn-primary" ng-click="add()">Add</button>
                    </div>
				</div>
				<div class="panel-body">
					<div class="panel">
						<div class="panel-body no-padding">
							<div shm-table-tree></div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>

	<script type="text/ng-template" id="edit.tmpl">
		<div class="modal-header">
			<h4 class="modal-title">{{ title }}</h4>
		</div>
		<div class="modal-body">
			<form name="userForm" class="form-horizontal row-border">
				<div class="form-group">
					<label class="col-sm-2 control-label">Номер услуги</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" readonly="readonly" ng-model="data.service_id">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Название услуги</label>
					<div class="col-sm-8">
						<input type="text" ng-model="data.name" class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Категория услуги</label>
					<div class="col-sm-8">
						<input type="text" ng-model="data.category" class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Период услуги (мес.)</label>
					<div class="col-sm-8">
						<input type="number" ng-model="data.period_cost" class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Цена за период</label>
					<div class="col-sm-8">
						<input type="number" ng-model="data.cost" class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Следующая услуга</label>
					<div class="col-sm-8">
						<select class="form-control" ng-model="data.next">
                            <option ng-value="null">Не изменять</option>
                            <option ng-value="service.service_id" ng-repeat="service in services">
                                {{ service.name }}
                            </option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Дочерние услуги</label>
					<div class="col-sm-8">
						<select class="form-control" multiple>
                            <option ng-repeat="sub_service in data.children">
                                {{ sub_service.service_id}}# {{ sub_service.name }}
                            </option>
						</select>
					</div>
					<div class="col-sm-2">
                        <a ng-click="editSubServices(data.service_id, data.children)" class="btn btn-default">
                            <i class="ti ti-settings"></i>
                        </a>
                    </div>
				</div>
				<div class="form-group">
                    <label class="col-sm-2 control-label">Биллинг</label>
                    <div class="col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" toggle-int toggle-model="data.pay_in_credit">Списывать всегда (даже в минус)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" toggle-int toggle-model="data.no_discount">Не применять скидки
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" toggle-int toggle-model="data.pay_always">Всегда платная услуга
                            </label>
                        </div>
                    </div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Settings</label>
					<div class="col-sm-8">
						<input type="text" value="{{ data.config }}" readonly="readonly" class="form-control">
					</div>
					<div class="col-sm-2">
                        <a ng-click="editJson(data.config)" class="btn btn-default"><i class="ti ti-settings"></i></a>
                    </div>
				</div>

            </div> <!-- modal-body -->

            <div class="modal-footer">
                <button class="btn btn-danger pull-left" ng-show="data.service_id" ng-click="delete()">Delete</button>
                <button class="btn btn-primary" ng-disabled="userForm.$invalid" ng-click="save()">Save</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>

        </form>
	</script>

</div> <!-- container-fluid -->
