<ol class="breadcrumb">
    <li><a href="#/">Dashboard</a></li>
    <li>UI Kit</li>
    <li class="active">Themify Icons</li>
</ol>

<div class="container-fluid">
	<div data-widget-group="group1">
		<div class="row">
		    <div class="col-xs-12">
		        <div class="panel panel-default" data-widget='{"draggable": "false"}'>
		            <div class="panel-heading">
		                <h2>Font Features</h2>
		            	<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'>
		            		<a class="button-icon" href="javascript:if(window.print)window.print()"><i class="ti ti-printer"></i></a>
		            	</div>
		            </div>
		            <div class="panel-body">
		            	<p><a href="http://themify.me/themify-icons">Themify Icons</a> is a complete set of icons for use in web design and apps, consisting of 320+ pixel-perfect, hand-crafted icons that draw inspiration from Apple iOS 7. This icon set is a must have tool for web designers and developers.</p>

		            	<div class="row pb-sm">
						    <div class="col-sm-6">
						      <h4><i class="ti ti-flag-alt"></i> One Font, 351 Icons</h4>
						      In a single collection, Themify Icons has 351 hand crafted icons.
						    </div>
						    <div class="col-sm-6">
						      <h4><i class="ti ti-pencil"></i> CSS Control</h4>
						      Easily style icon color, size, shadow, and anything that's possible with CSS.
						    </div>
						</div>
						<div class="row pb-sm">
						    <div class="col-sm-6">
						      <h4><i class="ti ti-fullscreen"></i> Infinite Scalability</h4>
						      Scalable vector graphics means every icon looks awesome at any size.
						    </div>
						    <div class="col-sm-6">
							      <h4><i class="ti ti-desktop"></i> Desktop Friendly</h4>
							      To use on the desktop or for a complete set of vectors,
							      check out the cheatsheet provided below.
							    </div>
						</div>
						<div class="row pb-sm">
						    <div class="col-sm-6">
						      <h4><i class="ti ti-eye"></i> Perfect on Retina Displays</h4>
						      Themify icons are vectors, which mean they're gorgeous on high-resolution displays.
						    </div>
						    <div class="col-sm-6">
						      <h4><i class="ti ti-search"></i> Screen Reader Compatible</h4>
						      Themify Icons won't trip up screen readers, unlike other icon fonts.
						    </div>
						</div>
		            </div>
		        </div>
		    </div>
		</div>

		<div class="row">
	      <div class="col-xs-12">
	        <div class="panel panel-primary" data-widget='{"draggable": "false"}'>
	            <div class="panel-heading">
	                <h2>Font Cheatsheet</h2>
	            	<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'>
	            		<a class="button-icon" href="javascript:if(window.print)window.print()"><i class="ti ti-printer"></i></a>
	            	</div>
	            </div>
	            <div class="panel-body">
					<section class="icon-section">
						<h4 class="page-header">Arrows &amp; Direction Icons </h4>
						<div class="row">

							<div class="col-md-3 col-sm-4">
								<span class="ti ti-arrow-up"></span><span class="icon-name"> ti-arrow-up</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-arrow-right"></span><span class="icon-name"> ti-arrow-right</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-arrow-left"></span><span class="icon-name"> ti-arrow-left</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-arrow-down"></span><span class="icon-name"> ti-arrow-down</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-arrows-vertical"></span><span class="icon-name"> ti-arrows-vertical</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-arrows-horizontal"></span><span class="icon-name"> ti-arrows-horizontal</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-angle-up"></span><span class="icon-name"> ti-angle-up</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-angle-right"></span><span class="icon-name"> ti-angle-right</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-angle-left"></span><span class="icon-name"> ti-angle-left</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-angle-down"></span><span class="icon-name"> ti-angle-down</span>
							</div>	
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-angle-double-up"></span><span class="icon-name"> ti-angle-double-up</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-angle-double-right"></span><span class="icon-name"> ti-angle-double-right</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-angle-double-left"></span><span class="icon-name"> ti-angle-double-left</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-angle-double-down"></span><span class="icon-name"> ti-angle-double-down</span>
							</div>					
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-move"></span><span class="icon-name"> ti-move</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-fullscreen"></span><span class="icon-name"> ti-fullscreen</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-arrow-top-right"></span><span class="icon-name"> ti-arrow-top-right</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-arrow-top-left"></span><span class="icon-name"> ti-arrow-top-left</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-arrow-circle-up"></span><span class="icon-name"> ti-arrow-circle-up</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-arrow-circle-right"></span><span class="icon-name"> ti-arrow-circle-right</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-arrow-circle-left"></span><span class="icon-name"> ti-arrow-circle-left</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-arrow-circle-down"></span><span class="icon-name"> ti-arrow-circle-down</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-arrows-corner"></span><span class="icon-name"> ti-arrows-corner</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-split-v"></span><span class="icon-name"> ti-split-v</span>
							</div>

							<div class="col-md-3 col-sm-4">
								<span class="ti ti-split-v-alt"></span><span class="icon-name"> ti-split-v-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-split-h"></span><span class="icon-name"> ti-split-h</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-hand-point-up"></span><span class="icon-name"> ti-hand-point-up</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-hand-point-right"></span><span class="icon-name"> ti-hand-point-right</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-hand-point-left"></span><span class="icon-name"> ti-hand-point-left</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-hand-point-down"></span><span class="icon-name"> ti-hand-point-down</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-back-right"></span><span class="icon-name"> ti-back-right</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-back-left"></span><span class="icon-name"> ti-back-left</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-exchange-vertical"></span><span class="icon-name"> ti-exchange-vertical</span>
							</div>
						</div>
					</section> <!-- Arrows Icons -->
					
					<section class="icon-section">
						<h4 class="page-header">Web App Icons</h4>
						<div class="row">
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-wand"></span><span class="icon-name"> ti-wand</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-save"></span><span class="icon-name"> ti-save</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-save-alt"></span><span class="icon-name"> ti-save-alt</span>
							</div>

							<div class="col-md-3 col-sm-4">
								<span class="ti ti-direction"></span><span class="icon-name"> ti-direction</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-direction-alt"></span><span class="icon-name"> ti-direction-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-user"></span><span class="icon-name"> ti-user</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-link"></span><span class="icon-name"> ti-link</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-unlink"></span><span class="icon-name"> ti-unlink</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-trash"></span><span class="icon-name"> ti-trash</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-target"></span><span class="icon-name"> ti-target</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-tag"></span><span class="icon-name"> ti-tag</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-desktop"></span><span class="icon-name"> ti-desktop</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-tablet"></span><span class="icon-name"> ti-tablet</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-mobile"></span><span class="icon-name"> ti-mobile</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-email"></span><span class="icon-name"> ti-email</span>
							</div>	
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-star"></span><span class="icon-name"> ti-star</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-spray"></span><span class="icon-name"> ti-spray</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-signal"></span><span class="icon-name"> ti-signal</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-shopping-cart"></span><span class="icon-name"> ti-shopping-cart</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-shopping-cart-full"></span><span class="icon-name"> ti-shopping-cart-full</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-settings"></span><span class="icon-name"> ti-settings</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-search"></span><span class="icon-name"> ti-search</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-zoom-in"></span><span class="icon-name"> ti-zoom-in</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-zoom-out"></span><span class="icon-name"> ti-zoom-out</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-cut"></span><span class="icon-name"> ti-cut</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-ruler"></span><span class="icon-name"> ti-ruler</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-ruler-alt-2"></span><span class="icon-name"> ti-ruler-alt-2</span>
							</div>			
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-ruler-pencil"></span><span class="icon-name"> ti-ruler-pencil</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-ruler-alt"></span><span class="icon-name"> ti-ruler-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-bookmark"></span><span class="icon-name"> ti-bookmark</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-bookmark-alt"></span><span class="icon-name"> ti-bookmark-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-reload"></span><span class="icon-name"> ti-reload</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-plus"></span><span class="icon-name"> ti-plus</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-minus"></span><span class="icon-name"> ti-minus</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-close"></span><span class="icon-name"> ti-close</span>
							</div>			
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-pin"></span><span class="icon-name"> ti-pin</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-pencil"></span><span class="icon-name"> ti-pencil</span>
							</div>
									
						  	<div class="col-md-3 col-sm-4">
								<span class="ti ti-pencil-alt"></span><span class="icon-name"> ti-pencil-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-paint-roller"></span><span class="icon-name"> ti-paint-roller</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-paint-bucket"></span><span class="icon-name"> ti-paint-bucket</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-na"></span><span class="icon-name"> ti-na</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-medall"></span><span class="icon-name"> ti-medall</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-medall-alt"></span><span class="icon-name"> ti-medall-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-marker"></span><span class="icon-name"> ti-marker</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-marker-alt"></span><span class="icon-name"> ti-marker-alt</span>
							</div>

							<div class="col-md-3 col-sm-4">
								<span class="ti ti-lock"></span><span class="icon-name"> ti-lock</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-unlock"></span><span class="icon-name"> ti-unlock</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-location-arrow"></span><span class="icon-name"> ti-location-arrow</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout"></span><span class="icon-name"> ti-layout</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layers"></span><span class="icon-name"> ti-layers</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layers-alt"></span><span class="icon-name"> ti-layers-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-key"></span><span class="icon-name"> ti-key</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-image"></span><span class="icon-name"> ti-image</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-heart"></span><span class="icon-name"> ti-heart</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-heart-broken"></span><span class="icon-name"> ti-heart-broken</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-hand-stop"></span><span class="icon-name"> ti-hand-stop</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-hand-open"></span><span class="icon-name"> ti-hand-open</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-hand-drag"></span><span class="icon-name"> ti-hand-drag</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-flag"></span><span class="icon-name"> ti-flag</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-flag-alt"></span><span class="icon-name"> ti-flag-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-flag-alt-2"></span><span class="icon-name"> ti-flag-alt-2</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-eye"></span><span class="icon-name"> ti-eye</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-import"></span><span class="icon-name"> ti-import</span>
							</div>			
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-export"></span><span class="icon-name"> ti-export</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-cup"></span><span class="icon-name"> ti-cup</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-crown"></span><span class="icon-name"> ti-crown</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-comments"></span><span class="icon-name"> ti-comments</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-comment"></span><span class="icon-name"> ti-comment</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-comment-alt"></span><span class="icon-name"> ti-comment-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-thought"></span><span class="icon-name"> ti-thought</span>
							</div>			
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-clip"></span><span class="icon-name"> ti-clip</span>
							</div>

							<div class="col-md-3 col-sm-4">
								<span class="ti ti-check"></span><span class="icon-name"> ti-check</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-check-box"></span><span class="icon-name"> ti-check-box</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-camera"></span><span class="icon-name"> ti-camera</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-announcement"></span><span class="icon-name"> ti-announcement</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-brush"></span><span class="icon-name"> ti-brush</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-brush-alt"></span><span class="icon-name"> ti-brush-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-palette"></span><span class="icon-name"> ti-palette</span>
							</div>			
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-briefcase"></span><span class="icon-name"> ti-briefcase</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-bolt"></span><span class="icon-name"> ti-bolt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-bolt-alt"></span><span class="icon-name"> ti-bolt-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-blackboard"></span><span class="icon-name"> ti-blackboard</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-bag"></span><span class="icon-name"> ti-bag</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-world"></span><span class="icon-name"> ti-world</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-wheelchair"></span><span class="icon-name"> ti-wheelchair</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-car"></span><span class="icon-name"> ti-car</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-truck"></span><span class="icon-name"> ti-truck</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-timer"></span><span class="icon-name"> ti-timer</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-ticket"></span><span class="icon-name"> ti-ticket</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-thumb-up"></span><span class="icon-name"> ti-thumb-up</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-thumb-down"></span><span class="icon-name"> ti-thumb-down</span>
							</div>

							<div class="col-md-3 col-sm-4">
								<span class="ti ti-stats-up"></span><span class="icon-name"> ti-stats-up</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-stats-down"></span><span class="icon-name"> ti-stats-down</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-shine"></span><span class="icon-name"> ti-shine</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-shift-right"></span><span class="icon-name"> ti-shift-right</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-shift-left"></span><span class="icon-name"> ti-shift-left</span>
							</div>

							<div class="col-md-3 col-sm-4">
								<span class="ti ti-shift-right-alt"></span><span class="icon-name"> ti-shift-right-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-shift-left-alt"></span><span class="icon-name"> ti-shift-left-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-shield"></span><span class="icon-name"> ti-shield</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-notepad"></span><span class="icon-name"> ti-notepad</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-server"></span><span class="icon-name"> ti-server</span>
							</div>

							<div class="col-md-3 col-sm-4">
								<span class="ti ti-pulse"></span><span class="icon-name"> ti-pulse</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-printer"></span><span class="icon-name"> ti-printer</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-power-off"></span><span class="icon-name"> ti-power-off</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-plug"></span><span class="icon-name"> ti-plug</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-pie-chart"></span><span class="icon-name"> ti-pie-chart</span>
							</div>

							<div class="col-md-3 col-sm-4">
								<span class="ti ti-panel"></span><span class="icon-name"> ti-panel</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-package"></span><span class="icon-name"> ti-package</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-music"></span><span class="icon-name"> ti-music</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-music-alt"></span><span class="icon-name"> ti-music-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-mouse"></span><span class="icon-name"> ti-mouse</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-mouse-alt"></span><span class="icon-name"> ti-mouse-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-money"></span><span class="icon-name"> ti-money</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-microphone"></span><span class="icon-name"> ti-microphone</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-menu"></span><span class="icon-name"> ti-menu</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-menu-alt"></span><span class="icon-name"> ti-menu-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-map"></span><span class="icon-name"> ti-map</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-map-alt"></span><span class="icon-name"> ti-map-alt</span>
							</div>

							<div class="col-md-3 col-sm-4">
								<span class="ti ti-location-pin"></span><span class="icon-name"> ti-location-pin</span>
							</div>

							<div class="col-md-3 col-sm-4">
								<span class="ti ti-light-bulb"></span><span class="icon-name"> ti-light-bulb</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-info"></span><span class="icon-name"> ti-info</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-infinite"></span><span class="icon-name"> ti-infinite</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-id-badge"></span><span class="icon-name"> ti-id-badge</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-hummer"></span><span class="icon-name"> ti-hummer</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-home"></span><span class="icon-name"> ti-home</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-help"></span><span class="icon-name"> ti-help</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-headphone"></span><span class="icon-name"> ti-headphone</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-harddrives"></span><span class="icon-name"> ti-harddrives</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-harddrive"></span><span class="icon-name"> ti-harddrive</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-gift"></span><span class="icon-name"> ti-gift</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-game"></span><span class="icon-name"> ti-game</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-filter"></span><span class="icon-name"> ti-filter</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-files"></span><span class="icon-name"> ti-files</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-file"></span><span class="icon-name"> ti-file</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-zip"></span><span class="icon-name"> ti-zip</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-folder"></span><span class="icon-name"> ti-folder</span>
							</div>			
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-envelope"></span><span class="icon-name"> ti-envelope</span>
							</div>


							<div class="col-md-3 col-sm-4">
								<span class="ti ti-dashboard"></span><span class="icon-name"> ti-dashboard</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-cloud"></span><span class="icon-name"> ti-cloud</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-cloud-up"></span><span class="icon-name"> ti-cloud-up</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-cloud-down"></span><span class="icon-name"> ti-cloud-down</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-clipboard"></span><span class="icon-name"> ti-clipboard</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-calendar"></span><span class="icon-name"> ti-calendar</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-book"></span><span class="icon-name"> ti-book</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-bell"></span><span class="icon-name"> ti-bell</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-basketball"></span><span class="icon-name"> ti-basketball</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-bar-chart"></span><span class="icon-name"> ti-bar-chart</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-bar-chart-alt"></span><span class="icon-name"> ti-bar-chart-alt</span>
							</div>


							<div class="col-md-3 col-sm-4">
								<span class="ti ti-archive"></span><span class="icon-name"> ti-archive</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-anchor"></span><span class="icon-name"> ti-anchor</span>
							</div>

							<div class="col-md-3 col-sm-4">
								<span class="ti ti-alert"></span><span class="icon-name"> ti-alert</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-alarm-clock"></span><span class="icon-name"> ti-alarm-clock</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-agenda"></span><span class="icon-name"> ti-agenda</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-write"></span><span class="icon-name"> ti-write</span>
							</div>

							<div class="col-md-3 col-sm-4">
								<span class="ti ti-wallet"></span><span class="icon-name"> ti-wallet</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-video-clapper"></span><span class="icon-name"> ti-video-clapper</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-video-camera"></span><span class="icon-name"> ti-video-camera</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-vector"></span><span class="icon-name"> ti-vector</span>
							</div>

							<div class="col-md-3 col-sm-4">
								<span class="ti ti-support"></span><span class="icon-name"> ti-support</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-stamp"></span><span class="icon-name"> ti-stamp</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-slice"></span><span class="icon-name"> ti-slice</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-shortcode"></span><span class="icon-name"> ti-shortcode</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-receipt"></span><span class="icon-name"> ti-receipt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-pin2"></span><span class="icon-name"> ti-pin2</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-pin-alt"></span><span class="icon-name"> ti-pin-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-pencil-alt2"></span><span class="icon-name"> ti-pencil-alt2</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-eraser"></span><span class="icon-name"> ti-eraser</span>
							</div>			
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-more"></span><span class="icon-name"> ti-more</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-more-alt"></span><span class="icon-name"> ti-more-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-microphone-alt"></span><span class="icon-name"> ti-microphone-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-magnet"></span><span class="icon-name"> ti-magnet</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-line-double"></span><span class="icon-name"> ti-line-double</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-line-dotted"></span><span class="icon-name"> ti-line-dotted</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-line-dashed"></span><span class="icon-name"> ti-line-dashed</span>
							</div>

							<div class="col-md-3 col-sm-4">
								<span class="ti ti-ink-pen"></span><span class="icon-name"> ti-ink-pen</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-info-alt"></span><span class="icon-name"> ti-info-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-help-alt"></span><span class="icon-name"> ti-help-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-headphone-alt"></span><span class="icon-name"> ti-headphone-alt</span>
							</div>

							<div class="col-md-3 col-sm-4">
								<span class="ti ti-gallery"></span><span class="icon-name"> ti-gallery</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-face-smile"></span><span class="icon-name"> ti-face-smile</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-face-sad"></span><span class="icon-name"> ti-face-sad</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-credit-card"></span><span class="icon-name"> ti-credit-card</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-comments-smiley"></span><span class="icon-name"> ti-comments-smiley</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-time"></span><span class="icon-name"> ti-time</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-share"></span><span class="icon-name"> ti-share</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-share-alt"></span><span class="icon-name"> ti-share-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-rocket"></span><span class="icon-name"> ti-rocket</span>
							</div>

							<div class="col-md-3 col-sm-4">
								<span class="ti ti-new-window"></span><span class="icon-name"> ti-new-window</span>
							</div>

							<div class="col-md-3 col-sm-4">
								<span class="ti ti-rss"></span><span class="icon-name"> ti-rss</span>
							</div>

							<div class="col-md-3 col-sm-4">
								<span class="ti ti-rss-alt"></span><span class="icon-name"> ti-rss-alt</span>
							</div>

						</div>
					</section><!-- Web App Icons -->

					<section class="icon-section">
						<h4 class="page-header">Control Icons</h4>
						<div class="row">
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-control-stop"></span><span class="icon-name"> ti-control-stop</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-control-shuffle"></span><span class="icon-name"> ti-control-shuffle</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-control-play"></span><span class="icon-name"> ti-control-play</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-control-pause"></span><span class="icon-name"> ti-control-pause</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-control-forward"></span><span class="icon-name"> ti-control-forward</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-control-backward"></span><span class="icon-name"> ti-control-backward</span>
							</div>	
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-volume"></span><span class="icon-name"> ti-volume</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-control-skip-forward"></span><span class="icon-name"> ti-control-skip-forward</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-control-skip-backward"></span><span class="icon-name"> ti-control-skip-backward</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-control-record"></span><span class="icon-name"> ti-control-record</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-control-eject"></span><span class="icon-name"> ti-control-eject</span>
							</div>
						</div>
					</section> <!-- Control Icons -->

					<section class="icon-section">
						<h4 class="page-header">Text Editor</h4>
						<div class="row">

							<div class="col-md-3 col-sm-4">
								<span class="ti ti-paragraph"></span><span class="icon-name"> ti-paragraph</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-uppercase"></span><span class="icon-name"> ti-uppercase</span>
							</div>

							<div class="col-md-3 col-sm-4">
								<span class="ti ti-underline"></span><span class="icon-name"> ti-underline</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-text"></span><span class="icon-name"> ti-text</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-Italic"></span><span class="icon-name"> ti-Italic</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-smallcap"></span><span class="icon-name"> ti-smallcap</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-list"></span><span class="icon-name"> ti-list</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-list-ol"></span><span class="icon-name"> ti-list-ol</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-align-right"></span><span class="icon-name"> ti-align-right</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-align-left"></span><span class="icon-name"> ti-align-left</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-align-justify"></span><span class="icon-name"> ti-align-justify</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-align-center"></span><span class="icon-name"> ti-align-center</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-quote-right"></span><span class="icon-name"> ti-quote-right</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-quote-left"></span><span class="icon-name"> ti-quote-left</span>
							</div>
						</div>
					</section> <!-- Text Editor -->

					<section class="icon-section">
						<h4 class="page-header">Layout Icons</h4>
						<div class="row">
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-width-full"></span><span class="icon-name"> ti-layout-width-full</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-width-default"></span><span class="icon-name"> ti-layout-width-default</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-width-default-alt"></span><span class="icon-name"> ti-layout-width-default-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-tab"></span><span class="icon-name"> ti-layout-tab</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-tab-window"></span><span class="icon-name"> ti-layout-tab-window</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-tab-v"></span><span class="icon-name"> ti-layout-tab-v</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-tab-min"></span><span class="icon-name"> ti-layout-tab-min</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-slider"></span><span class="icon-name"> ti-layout-slider</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-slider-alt"></span><span class="icon-name"> ti-layout-slider-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-sidebar-right"></span><span class="icon-name"> ti-layout-sidebar-right</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-sidebar-none"></span><span class="icon-name"> ti-layout-sidebar-none</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-sidebar-left"></span><span class="icon-name"> ti-layout-sidebar-left</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-placeholder"></span><span class="icon-name"> ti-layout-placeholder</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-menu"></span><span class="icon-name"> ti-layout-menu</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-menu-v"></span><span class="icon-name"> ti-layout-menu-v</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-menu-separated"></span><span class="icon-name"> ti-layout-menu-separated</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-menu-full"></span><span class="icon-name"> ti-layout-menu-full</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-media-right"></span><span class="icon-name"> ti-layout-media-right</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-media-right-alt"></span><span class="icon-name"> ti-layout-media-right-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-media-overlay"></span><span class="icon-name"> ti-layout-media-overlay</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-media-overlay-alt"></span><span class="icon-name"> ti-layout-media-overlay-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-media-overlay-alt-2"></span><span class="icon-name"> ti-layout-media-overlay-alt-2</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-media-left"></span><span class="icon-name"> ti-layout-media-left</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-media-left-alt"></span><span class="icon-name"> ti-layout-media-left-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-media-center"></span><span class="icon-name"> ti-layout-media-center</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-media-center-alt"></span><span class="icon-name"> ti-layout-media-center-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-list-thumb"></span><span class="icon-name"> ti-layout-list-thumb</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-list-thumb-alt"></span><span class="icon-name"> ti-layout-list-thumb-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-list-post"></span><span class="icon-name"> ti-layout-list-post</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-list-large-image"></span><span class="icon-name"> ti-layout-list-large-image</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-line-solid"></span><span class="icon-name"> ti-layout-line-solid</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-grid4"></span><span class="icon-name"> ti-layout-grid4</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-grid3"></span><span class="icon-name"> ti-layout-grid3</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-grid2"></span><span class="icon-name"> ti-layout-grid2</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-grid2-thumb"></span><span class="icon-name"> ti-layout-grid2-thumb</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-cta-right"></span><span class="icon-name"> ti-layout-cta-right</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-cta-left"></span><span class="icon-name"> ti-layout-cta-left</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-cta-center"></span><span class="icon-name"> ti-layout-cta-center</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-cta-btn-right"></span><span class="icon-name"> ti-layout-cta-btn-right</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-cta-btn-left"></span><span class="icon-name"> ti-layout-cta-btn-left</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-column4"></span><span class="icon-name"> ti-layout-column4</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-column3"></span><span class="icon-name"> ti-layout-column3</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-column2"></span><span class="icon-name"> ti-layout-column2</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-accordion-separated"></span><span class="icon-name"> ti-layout-accordion-separated</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-accordion-merged"></span><span class="icon-name"> ti-layout-accordion-merged</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-accordion-list"></span><span class="icon-name"> ti-layout-accordion-list</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-widgetized"></span><span class="icon-name"> ti-widgetized</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-widget"></span><span class="icon-name"> ti-widget</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-widget-alt"></span><span class="icon-name"> ti-widget-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-view-list"></span><span class="icon-name"> ti-view-list</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-view-list-alt"></span><span class="icon-name"> ti-view-list-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-view-grid"></span><span class="icon-name"> ti-view-grid</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-upload"></span><span class="icon-name"> ti-upload</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-download"></span><span class="icon-name"> ti-download</span>
							</div>	
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-loop"></span><span class="icon-name"> ti-loop</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-sidebar-2"></span><span class="icon-name"> ti-layout-sidebar-2</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-grid4-alt"></span><span class="icon-name"> ti-layout-grid4-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-grid3-alt"></span><span class="icon-name"> ti-layout-grid3-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-grid2-alt"></span><span class="icon-name"> ti-layout-grid2-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-column4-alt"></span><span class="icon-name"> ti-layout-column4-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-column3-alt"></span><span class="icon-name"> ti-layout-column3-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-layout-column2-alt"></span><span class="icon-name"> ti-layout-column2-alt</span>
							</div>
						</div>
					</section> <!-- Layout Icons -->

					<section class="icon-section">
						<h4 class="page-header">Brand Icons</h4>
						<div class="row">
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-flickr"></span><span class="icon-name"> ti-flickr</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-flickr-alt"></span><span class="icon-name"> ti-flickr-alt</span>
							</div>			
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-instagram"></span><span class="icon-name"> ti-instagram</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-google"></span><span class="icon-name"> ti-google</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-github"></span><span class="icon-name"> ti-github</span>
							</div>

							<div class="col-md-3 col-sm-4">
								<span class="ti ti-facebook"></span><span class="icon-name"> ti-facebook</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-dropbox"></span><span class="icon-name"> ti-dropbox</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-dropbox-alt"></span><span class="icon-name"> ti-dropbox-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-dribbble"></span><span class="icon-name"> ti-dribbble</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-apple"></span><span class="icon-name"> ti-apple</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-android"></span><span class="icon-name"> ti-android</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-yahoo"></span><span class="icon-name"> ti-yahoo</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-trello"></span><span class="icon-name"> ti-trello</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-stack-overflow"></span><span class="icon-name"> ti-stack-overflow</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-soundcloud"></span><span class="icon-name"> ti-soundcloud</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-sharethis"></span><span class="icon-name"> ti-sharethis</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-sharethis-alt"></span><span class="icon-name"> ti-sharethis-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-reddit"></span><span class="icon-name"> ti-reddit</span>
							</div>

							<div class="col-md-3 col-sm-4">
								<span class="ti ti-microsoft"></span><span class="icon-name"> ti-microsoft</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-microsoft-alt"></span><span class="icon-name"> ti-microsoft-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-linux"></span><span class="icon-name"> ti-linux</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-jsfiddle"></span><span class="icon-name"> ti-jsfiddle</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-joomla"></span><span class="icon-name"> ti-joomla</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-html5"></span><span class="icon-name"> ti-html5</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-css3"></span><span class="icon-name"> ti-css3</span>
							</div>	
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-drupal"></span><span class="icon-name"> ti-drupal</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-wordpress"></span><span class="icon-name"> ti-wordpress</span>
							</div>		
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-tumblr"></span><span class="icon-name"> ti-tumblr</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-tumblr-alt"></span><span class="icon-name"> ti-tumblr-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-skype"></span><span class="icon-name"> ti-skype</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-youtube"></span><span class="icon-name"> ti-youtube</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-vimeo"></span><span class="icon-name"> ti-vimeo</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-vimeo-alt"></span><span class="icon-name"> ti-vimeo-alt</span>
							</div>			
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-twitter"></span><span class="icon-name"> ti-twitter</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-twitter-alt"></span><span class="icon-name"> ti-twitter-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-linkedin"></span><span class="icon-name"> ti-linkedin</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-pinterest"></span><span class="icon-name"> ti-pinterest</span>
							</div>

							<div class="col-md-3 col-sm-4">
								<span class="ti ti-pinterest-alt"></span><span class="icon-name"> ti-pinterest-alt</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-themify-logo"></span><span class="icon-name"> ti-themify-logo</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-themify-favicon"></span><span class="icon-name"> ti-themify-favicon</span>
							</div>
							<div class="col-md-3 col-sm-4">
								<span class="ti ti-themify-favicon-alt"></span><span class="icon-name"> ti-themify-favicon-alt</span>
							</div>
						</div>
					</section> <!-- brand Icons -->

	            </div>
	        </div>
	    </div>
	</div>
	</div>

</div> <!-- container-fluid -->
