    <ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li>UI Components</li>
		<li class="active">Tiles</li>
	</ol>

<div class="container-fluid">
	
	<div class="row">
		<div class="col-md-3">
			<div class="info-tile tile-warning">
				<div class="tile-icon"><i class="ti ti-eye"></i></div>
				<div class="tile-heading"><span>Page Views</span></div>
				<div class="tile-body"><span>1600</span></div>
				<div class="tile-footer"><span class="text-danger">-7.6%</span></div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="info-tile tile-success">
				<div class="tile-icon"><i class="ti ti-thumb-up"></i></div>
				<div class="tile-heading"><span>Likes</span></div>
				<div class="tile-body"><span>345</span></div>
				<div class="tile-footer"><span class="text-success">+15.4%</span></div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="info-tile tile-danger">
				<div class="tile-icon"><i class="ti ti-check-box"></i></div>
				<div class="tile-heading"><span>Bugs Fixed</span></div>
				<div class="tile-body"><span>21</span></div>
				<div class="tile-footer"><span class="text-success">+10.4%</span></div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="info-tile tile-info">
				<div class="tile-icon"><i class="ti ti-user"></i></div>
				<div class="tile-heading"><span>New Members</span></div>
				<div class="tile-body"><span>124</span></div>
				<div class="tile-footer"><span class="text-danger">-25.4%</span></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<div class="info-tile tile-teal">
				<div class="tile-icon"><i class="ti ti-gift"></i></div>
				<div class="tile-heading"><span>Gifts</span></div>
				<div class="tile-body"><span>16</span></div>
				<div class="tile-footer"><span class="text-danger">-7.6%</span></div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="info-tile tile-lime">
				<div class="tile-icon"><i class="ti ti-money"></i></div>
				<div class="tile-heading"><span>Profits</span></div>
				<div class="tile-body"><span>$2.5k</span></div>
				<div class="tile-footer"><span class="text-success">+15.4%</span></div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="info-tile tile-brown">
				<div class="tile-icon"><i class="ti ti-shopping-cart"></i></div>
				<div class="tile-heading"><span>Sales Revenue</span></div>
				<div class="tile-body"><span>$30.2k</span></div>
				<div class="tile-footer"><span class="text-danger">-22.4%</span></div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="info-tile tile-blue">
				<div class="tile-icon"><i class="ti ti-comments"></i></div>
				<div class="tile-heading"><span>New Orders</span></div>
				<div class="tile-body"><span>679</span></div>
				<div class="tile-footer"><span class="text-succss">+15.4%</span></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<div class="info-tile tile-purple">
				<div class="tile-icon"><i class="ti ti-comments"></i></div>
				<div class="tile-heading"><span>Comments</span></div>
				<div class="tile-body"><span>32</span></div>
				<div class="tile-footer"><span class="text-success">+22.4%</span></div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="info-tile tile-primary">
				<div class="tile-icon"><i class="ti ti-download"></i></div>
				<div class="tile-heading"><span>Downloads</span></div>
				<div class="tile-body"><span>6.7K</span></div>
				<div class="tile-footer"><span class="text-success">+16.4%</span></div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="info-tile tile-indigo">
				<div class="tile-icon"><i class="ti ti-menu-alt"></i></div>
				<div class="tile-heading"><span>Tasks</span></div>
				<div class="tile-body"><span>17</span></div>
				<div class="tile-footer"><span class="text-danger">-26.4%</span></div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="info-tile tile-green">
				<div class="tile-icon"><i class="ti ti-video-camera"></i></div>
				<div class="tile-heading"><span>Videos</span></div>
				<div class="tile-body"><span>31</span></div>
				<div class="tile-footer"><span class="text-succss">+6.4%</span></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<div class="info-tile info-tile-alt tile-warning">
				<div class="tile-icon"><i class="ti ti-eye"></i></div>
				<div class="tile-heading"><span>Page Views</span></div>
				<div class="tile-body"><span>1600</span></div>
				<div class="tile-footer"><span class="text-danger">-7.6%</span></div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="info-tile info-tile-alt tile-success">
				<div class="tile-icon"><i class="ti ti-thumb-up"></i></div>
				<div class="tile-heading"><span>Likes</span></div>
				<div class="tile-body"><span>345</span></div>
				<div class="tile-footer"><span class="text-success">+15.4%</span></div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="info-tile info-tile-alt tile-danger">
				<div class="tile-icon"><i class="ti ti-check-box"></i></div>
				<div class="tile-heading"><span>Bugs Fixed</span></div>
				<div class="tile-body"><span>21</span></div>
				<div class="tile-footer"><span class="text-success">+10.4%</span></div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="info-tile info-tile-alt tile-info">
				<div class="tile-icon"><i class="ti ti-user"></i></div>
				<div class="tile-heading"><span>New Members</span></div>
				<div class="tile-body"><span>124</span></div>
				<div class="tile-footer"><span class="text-danger">-25.4%</span></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<div class="info-tile info-tile-alt tile-teal">
				<div class="tile-icon"><i class="ti ti-gift"></i></div>
				<div class="tile-heading"><span>Gifts</span></div>
				<div class="tile-body"><span>16</span></div>
				<div class="tile-footer"><span class="text-danger">-7.6%</span></div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="info-tile info-tile-alt tile-lime">
				<div class="tile-icon"><i class="ti ti-money"></i></div>
				<div class="tile-heading"><span>Profits</span></div>
				<div class="tile-body"><span>$2.5k</span></div>
				<div class="tile-footer"><span class="text-success">+15.4%</span></div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="info-tile info-tile-alt tile-brown">
				<div class="tile-icon"><i class="ti ti-shopping-cart"></i></div>
				<div class="tile-heading"><span>Sales Revenue</span></div>
				<div class="tile-body"><span>$30.2k</span></div>
				<div class="tile-footer"><span class="text-danger">-22.4%</span></div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="info-tile info-tile-alt tile-blue">
				<div class="tile-icon"><i class="ti ti-comments"></i></div>
				<div class="tile-heading"><span>New Orders</span></div>
				<div class="tile-body"><span>679</span></div>
				<div class="tile-footer"><span class="text-succss">+15.4%</span></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<div class="info-tile info-tile-alt tile-purple">
				<div class="tile-icon"><i class="ti ti-comments"></i></div>
				<div class="tile-heading"><span>Comments</span></div>
				<div class="tile-body"><span>32</span></div>
				<div class="tile-footer"><span class="text-success">+22.4%</span></div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="info-tile info-tile-alt tile-primary">
				<div class="tile-icon"><i class="ti ti-download"></i></div>
				<div class="tile-heading"><span>Downloads</span></div>
				<div class="tile-body"><span>6.7K</span></div>
				<div class="tile-footer"><span class="text-success">+16.4%</span></div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="info-tile info-tile-alt tile-indigo">
				<div class="tile-icon"><i class="ti ti-menu-alt"></i></div>
				<div class="tile-heading"><span>Tasks</span></div>
				<div class="tile-body"><span>17</span></div>
				<div class="tile-footer"><span class="text-danger">-26.4%</span></div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="info-tile info-tile-alt tile-green">
				<div class="tile-icon"><i class="ti ti-video-camera"></i></div>
				<div class="tile-heading"><span>Videos</span></div>
				<div class="tile-body"><span>31</span></div>
				<div class="tile-footer"><span class="text-succss">+6.4%</span></div>
			</div>
		</div>
	</div>
</div> <!-- container-fluid -->
