<div class="extrabar">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="info-tile info-tile-alt tile-warning">
					<div class="tile-icon"><i class="ti ti-eye"></i></div>
					<div class="tile-heading"><span>Page Views</span></div>
					<div class="tile-body"><span>1,600</span></div>
					<div class="tile-footer"><span class="text-danger">-7.6% <i class="ti ti-arrow-down"></i></span></div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="info-tile info-tile-alt tile-success">
					<div class="tile-icon"><i class="ti ti-thumb-up"></i></div>
					<div class="tile-heading"><span>Likes</span></div>
					<div class="tile-body"><span>345</span></div>
					<div class="tile-footer"><span class="text-success">+15.4% <i class="ti ti-arrow-up"></i></span></div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="info-tile info-tile-alt tile-danger">
					<div class="tile-icon"><i class="ti ti-check-box"></i></div>
					<div class="tile-heading"><span>Bugs Fixed</span></div>
					<div class="tile-body"><span>21</span></div>
					<div class="tile-footer"><span class="text-success">+10.4% <i class="ti ti-arrow-up"></i></span></div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="info-tile info-tile-alt tile-info">
					<div class="tile-icon"><i class="ti ti-user"></i></div>
					<div class="tile-heading"><span>New Members</span></div>
					<div class="tile-body"><span>124</span></div>
					<div class="tile-footer"><span class="text-danger">-25.4% <i class="ti ti-arrow-down"></i></span></div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="info-tile info-tile-alt tile-teal">
					<div class="tile-icon"><i class="ti ti-gift"></i></div>
					<div class="tile-heading"><span>Gifts</span></div>
					<div class="tile-body"><span>16</span></div>
					<div class="tile-footer"><span class="text-danger">-7.6% <i class="ti ti-arrow-down"></i></span></div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="info-tile info-tile-alt tile-indigo">
					<div class="tile-icon"><i class="ti ti-menu-alt"></i></div>
					<div class="tile-heading"><span>Tasks</span></div>
					<div class="tile-body"><span>17</span></div>
					<div class="tile-footer"><span class="text-danger">-26.4% <i class="ti ti-arrow-down"></i></span></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="extrabar-underlay"></div>