<div class="options">
    <div class="btn-toolbar">
        <a href="#" class="btn btn-success">Add New Card</a>
        <a href="#" class="btn btn-default"><i class="fa fa-fw fa-cog"></i></a>
    </div>
</div>