<div class="sidebar">
	<div class="widget">
        <div class="widget-body">
            <div class="userinfo">
                <div class="avatar">
                    <img src="{{'demo/avatar/avatar_13.png' | asset_url | img_loc }}" class="img-responsive img-circle"> 
                </div>
                <div class="info">
                    <span class="username">Glen Maxwell</span>
                    <span class="useremail">glen@outline.com</span>
                </div>
            </div>
        </div>
    </div>
	<div class="widget stay-on-collapse" id="widget-sidebar">
        {% include navigation %}
    </div>


    <!-- <div class="widget" id="widget-sparklines">
        <div class="widget-heading">Sparklines</div>
        <div class="widget-body p-md">
            <div class="clearfix pt-n pb-sm">
                <div class="pull-left"><h5 class="m-n small" style="font-weight: 400;">Total Visitors</h5></div>
                <div class="pull-right"><h5 class="m-n">1,785</h5></div>
            </div>
            <div class="spark-totalvisitors"></div>
            <div class="clearfix pt-lg pb-sm">
                <div class="pull-left"><h5 class="m-n small" style="font-weight: 400;">Total Earnings</h5></div>
                <div class="pull-right"><h5 class="m-n">$7,585</h5></div>
            </div>
            <div class="spark-totalearnings"></div>
        </div>
    </div> -->
</div>