<form name="userForm" class="form-horizontal row-border">
    <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label">Номер услуги</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" readonly="readonly" ng-model="data.service_id">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Название услуги</label>
            <div class="col-sm-8">
                <input type="text" ng-model="data.name" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Категория услуги</label>
            <div class="col-sm-8">
                <input type="text" ng-model="data.category" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Период услуги:</label>
            <div class="col-sm-2">
                <input type="number" step="0.0001" min="0" max="120" ng-model="data.period" ng-disabled="data.once_service" class="form-control" required>
            </div>
            <div class="col-sm-6">
                <div style="float:left;">
                    <label class="control-label">M.DDHH (M - месяцы, DD - дни, HH - часы)</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Цена</label>
            <div class="col-sm-8">
                <input type="number" step="0.01" min="0" ng-model="data.cost" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Следующая услуга</label>
            <div class="col-sm-8">
                <select class="form-control" ng-model="data.next" ng-disabled="data.once_service">
                    <option ng-value="null">Не изменять (продлить текущую)</option>
                    <option ng-value="-1" ng-selected="data.once_service">Не продлевать (удалить текущую)</option>
                    <option ng-value="service.service_id" ng-repeat="service in services">
                    {{ service.name }}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Дочерние услуги</label>
            <div class="col-sm-2">
                <a ng-click="editSubServices(data.service_id)" ng-disabled="!data.service_id" class="btn btn-default">
                    <i class="ti ti-settings"></i>
                </a>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Биллинг</label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" toggle-int toggle-model="data.allow_to_order">Доступно к заказу
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-disabled="!data.allow_to_order" toggle-int toggle-model="data.config.order_only_once">Можно заказать только один раз
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" toggle-int toggle-model="data.is_composite">Составная услуга
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" toggle-int toggle-model="data.pay_in_credit">Списывать всегда (даже в минус)
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" toggle-int toggle-model="data.no_discount">Не применять скидки
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" toggle-int toggle-model="data.config.no_money_back">Не возвращать средства
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" toggle-int toggle-model="data.pay_always">Всегда платная услуга
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" toggle-int toggle-model="data.once_service" ng-click="data.period==0 ? data.period=1 : data.period=0">Мгновенная услуга
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                            ng-checked="data.config.hasOwnProperty('limit_bonus_percent')"
                            ng-click="toggleBonusPercent()">Ограничение оплаты бонусами
                    </label>
                </div>
                <div class="form-group" ng-show="data.config.hasOwnProperty('limit_bonus_percent')" style="margin-top: 15px; margin-bottom: 0;">
                    <label class="col-sm-4 control-label" style="text-align: left; padding-left: 20px;">Процент оплаты бонусами:</label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="number"
                                   min="0"
                                   max="100"
                                   step="1"
                                   ng-model="data.config.limit_bonus_percent"
                                   class="form-control"
                                   placeholder="50">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Описание</label>
            <div class="col-sm-8">
                <textarea class="form-control" ng-model="data.descr"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Settings</label>
            <div class="col-sm-8">
                <input type="text" value="{{ data.config }}" readonly="readonly" class="form-control">
            </div>
            <div class="col-sm-2">
                <json-editor data="data.config"></json-editor>
            </div>
        </div>

    </div> <!-- modal-body -->

    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="userForm.$invalid" ng-if="title === 'Редактирование услуги'"  ng-click="dublicate()">Duplicate</button>
        <button class="btn btn-primary" ng-disabled="userForm.$invalid" ng-click="save()">Save</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        <button class="btn btn-danger pull-left" ng-show="data.service_id" ng-click="delete()">Delete</button>
    </div>
</form>
