<form name="userForm" class="form-horizontal row-border">
    <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-show="data.server_id">
            <label class="col-sm-2 control-label">ID сервера</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" readonly="readonly" ng-model="data.server_id">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Имя сервера</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" required=1 ng-model="data.name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Группа</label>
            <div class="col-sm-8">
                <servers-groups-list id="data.server_gid" data="data.server"></servers-groups-list>
            </div>
            <div class="col-sm-2">
                <servers-groups-list-add></servers-groups-list-add>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Транспорт</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" readonly="readonly" ng-model="data.server.transport">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Хост</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" required=1 ng-model="data.host">
            </div>
        </div>
        <div class="form-group" ng-if="data.server.transport=='mail'">
            <label class="col-sm-2 control-label">Пользователь</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="data.settings.user">
            </div>
        </div>
        <div class="form-group" ng-if="data.server.transport=='mail'">
            <label class="col-sm-2 control-label">Пароль</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="data.settings.password">
            </div>
        </div>
        <div class="form-group" ng-if="data.server.transport=='mail'">
            <label class="col-sm-2 control-label">Отправитель (FROM)</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="data.settings.from">
            </div>
        </div>
        <div class="form-group" ng-if="data.server.transport=='mail'">
            <label class="col-sm-2 control-label">Скрытая Копия (Bcc)</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="data.settings.bcc">
            </div>
        </div>
        <div class="form-group" ng-if="data.server.transport=='ssh'">
            <label class="col-sm-2 control-label">Ключ</label>
            <div class="col-sm-8">
                <identities-list data="data.settings.key_id"></identities-list>
            </div>
            <div class="col-sm-2">
                <identities-list-add></identities-list-add>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Использовать</label>
            <div class="col-sm-8">
                <select class="form-control" ng-model="data.mode" required=1>
                    <option value="template">Шаблон</option>
                    <option ng-if="data.server.transport=='ssh'" value="cmd">Команду</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-if="data.mode=='template'">
            <label class="col-sm-2 control-label">Шаблон</label>
            <div class="col-sm-8">
                <templates-list id="data.settings.template_id"></templates-list>
            </div>
            <div class="col-sm-2">
                <templates-list-add></templates-list-add>
            </div>
        </div>
        <div class="form-group" ng-if="data.mode=='cmd'">
            <label class="col-sm-2 control-label">shell command</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="data.settings.cmd">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Settings</label>
            <div class="col-sm-8">
                <input type="text" value="{{ data.settings }}" readonly="readonly" class="form-control">
            </div>
            <div class="col-sm-2">
                <json-editor data="data.settings"></json-editor>
            </div>
        </div>
    </div> <!-- modal-body -->

    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="userForm.$invalid" ng-click="save()">Save</button>
        <button class="btn btn-info" ng-disabled="userForm.$invalid" ng-click="test_ssh()" ng-if="data.server.transport=='ssh'">Test SSH</button>
        <button class="btn btn-info" ng-disabled="userForm.$invalid" ng-click="test_mail()" ng-if="data.server.transport=='mail'">Test mail</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        <button class="btn btn-danger pull-left" ng-show="data.server_id" ng-click="delete()">Delete</button>
    </div>
</form>
