	<ol class="breadcrumb">
		<li><a href="#/">Главная</a></li>
		<li>Настройки</li>
		<li class="active">Шаблоны</li>
	</ol>

<div class="container-fluid" ng-controller="ShmTemplatesController">
	<div class="row">
	  <div class="col-md-12">
			<div class="panel panel-transparent">
				<div class="panel-heading">
					<h2>Шаблоны</h2>
                    <div class="btn-group pull-right">
                        <button class="btn btn-primary" ng-click="add()">Add</button>
                        <button class="btn btn-success" ng-click="uploadFile()"><i class="fa fa-upload"></i>Upload file</button>
                    </div>
				</div>
				<div class="panel-body">
					<div class="panel">
						<div class="panel-body no-padding">
							<div shm-table></div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</div> <!-- container-fluid -->
