{% layout 'layout' %}
{% block title %}Markdown{% endblock %}

{% block breadcrumb %}
<li><a href="index.html">Home</a></li>
<li><a href="#">Advanced Forms</a></li>
<li class="active"><a href="form-markdown.html">Markdown</a></li>
{% endblock %}

{% block styles %}
{{ "plugins/form-pagedown/css/jquery.pagedown-bootstrap.css" | asset_url | stylesheet_tag }}
{% endblock %}

{% block scripts %}
{{ "plugins/form-pagedown/js/jquery.pagedown-bootstrap.combined.js" | asset_url | script_tag }}  	<!-- Markdown Plugin -->

<script>
$(function () {
	$("textarea#pagedownMe").pagedownBootstrap();
	$('.wmd-preview').addClass('well');
});
</script>
{% endblock %}

{% block content %}
<div class="alert alert-info">
	<h3>Pagedown <small>Markdown Editor</small></h3>
	<p>Markdown allows you to write using an easy-to-read, easy-to-write plain text format, then convert it to structurally valid XHTML (or HTML).</p>
</div>

<div data-widget-group="group1">
	<div class="row">
		<div class="col-md-12">
			<div class="panel" data-widget='{"draggable": "false"}'>
				<div class="panel-heading">
					<h2>Basic Markdown Editor</h2>
					<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
				</div>
	<div class="panel-body">

<textarea id="pagedownMe">
#This is a *Markdown* editor #
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, blanditiis nisi assumenda enim voluptatem nihil veniam necessitatibus non! Minima, expedita ad consectetur corporis nobis nihil optio tempora animi ullam iure! 

[Link to Google][1].

## Heading 2##
![Natalie Dormer][2]

### Heading 3###

 - List Item 1
 - List Item 2
 - List Item 3


  [1]: http://google.com "Google"
  [2]: http://upload.wikimedia.org/wikipedia/commons/c/ca/Natalie_Dormer_%28March_2013%29.jpg "Natalie Dormer"
</textarea>	
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
